*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial;
  background: #f2f2f2;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 3fr 3fr 0.5fr;
  grid-template-areas:  "header header header header" "sidebar main main main" "footer footer footer footer";
   width: 100vw;
  height: 100vh;
}
header { grid-area: header; background: #5150d6; padding: 40px;}
aside { grid-area: sidebar; background: #025e93; padding: 40px;}
main { grid-area: main; padding: 40px;}
footer { grid-area: footer; background: #0f0e0f; padding: 40px;};

@media only screen and (max-width: 800px) {
  main {background: gold;}
.grid-container {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.4fr 3fr ;
    grid-template-areas: "header header" "main main" "footer footer ";
  }
}

h1 {font-size: 42px; margin-bottom: 20px;}
h2 {font-size: 34px; margin-bottom: 20px;}
h3 {font-size: 30px; margin-bottom: 20px;}
h4 { font-size: 28px; margin-bottom: 20px;}
h5 { font-size: 26px; margin-bottom: 20px;}
h6 { font-size: 24px; margin-bottom: 20px;}

.box {
  border: 1px solid silver;
}

p {
  line-height: 200%;
}
p.is- {
  &xsmall {font-size: 14px;}
  &small {font-size: 16px;}
  &medium {font-size: 20px;}
  &large {font-size: 24px;}
  &xlarge {font-size: 29px;}
}

ol li {
  font-size: 20px;
}