/**
 * Utils: Padding, Margin
 */
@for $i from 1 through 12 {
  &.p#{$i} {
    padding: (10 * $i);
  }

  &.pt#{$i} {
    padding-top: (10 * $i);
  }

  &.pb#{$i} {
    padding-bottom: (10 * $i);
  }

  &.pl#{$i} {
    padding-left: (10 * $i);
  }

  &.pr#{$i} {
    padding-right: (10 * $i);
  }

  &.m#{$i} {
    margin: (10 * $i);
  }

  &.mt#{$i} {
    margin-top: (10 * $i);
  }

  &.mb#{$i} {
    margin-bottom: (10 * $i);
  }

  &.ml#{$i} {
    margin-left: (10 * $i);
  }

  &.mr#{$i} {
    margin-right: (10 * $i);
  }
}
