footer {
  @extend %footer;
  background-color: $bg-footer;
  color: $txt-lightest;
  font-size: 1.4em;
  padding: 30px;
  text-align: center;
}

.left,
.middle,
.end {
  li a {
    color: #232323;
    text-decoration: none;

    &:active,
    &:hover {
      color: #454545;
    }
  }
}
footer {
  ul {
    list-style-type: none;
    text-align: left;
  }
}
