@import '../variables/colors';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-site;
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
  }
}

%header {
  grid-column: span 3;
}

%main {
  flex: 1;
}

%footer {
  grid-column: span 3;
}

nav {
  background: green;

  & .start,
  & .middle,
  & .end {
    padding: 5px;
    background-color: #ffd700;
    grid-row: 1;
    grid-column: 1;
  }
}

// Fallback for Grid

@supports (display: grid) {
  .grid > * {
    display: table-cell;
    width: auto;
  }
}

%std-grid {
  display: grid;
  grid-gap: 0;
}

@function repeat($string, $times) {
  $result: '';

  @for $i from 1 through $times {
    $result: $result + $string;
  }

  @return $result;
}

@mixin make-rows($rows) {
  @extend %std-grid;
  grid-template-rows: repeat(1fr, $rows);
  grid-row: row $rows;
  grid-column: col 1;
}

@for $i from 1 through 12 {
  .is-row-#{$i} {
    @include make-rows($i);
  }
}

.is-row-2 {
  @extend %std-grid;
  grid-template-rows: 1fr 1fr;
  grid-row: row 2;
  grid-column: col 1;
}
.is-col-2 {
  @extend %std-grid;
  grid-template-columns: 1fr 1fr;
  grid-row: row 1;
  grid-column: col 2;
}

.is-col-3 {
  @extend %std-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: row 1;
  grid-column: col 3;
}
