/**
 * Typography: Headings
 */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'variables';

body {
  font-family: $content-font-family;
  color: $content-text;

  p {
    @extend body;
  }
}

@for $i from 6 through 1 {
  h#{$i} {
    font-size: calc(3.4 - #{$i} / 5em);
  }
}
