<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Holy Grail
      {{title}}</title>
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png"/>

    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ root }}assets/js/jquery.jscrollpane.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ root }}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

  </head>
  <body>
		<noscript>
			<style>
				@media screen and (max-width: 715px) {
					.hs-content-scroller{
						overflow: visible;
					}
				}
			</style>
		</noscript>

    {{>body }}

    <script type="text/javascript" src="{{ root }}assets/js/head.min.js"></script>
    <script src="{{ root }}assets/js/app.js"></script>
  </body>
</html>
