button {
  justify-content: center;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;

  &.is-xsmall {
    font-size: $xsmall-font;

    &:hover {
      border-color: #c0c0c0;
    }
  }

  &.is-small {
    font-size: $small-font;

    &:hover {
      border-color: #c0c0c0;
    }
  }

  &.is-medium {
    font-size: $medium-font;

    &:hover {
      border-color: #c0c0c0;
    }
  }

  &.is-large {
    font-size: $large-font;

    &:hover {
      border-color: #c0c0c0;
    }
  }

  &.is-outlined {
    background: transparent;
  }

  &.is-text {
    border-color: transparent;
    background-color: transparent;
  }
}
