@for $i from 1 through 20 {
  // eg: .m-10 (p: Margin, #: Pixels)
  .m-#{$i * 10} {
    padding: #{$i} * 10;
  }

  // eg: .mt-10 (pt: MarginTop, #: Pixels)
  .mt-#{$i * 10} {
    margin-top: #{$i} * 10;
  }

  // eg: .ml-10 (pt: MarginLeft, #: Pixels)
  .ml-#{$i * 10} {
    margin-left: #{$i} * 10;
  }

  // eg: .mr-10 (pt: MarginRight, #: Pixels)
  .mr-#{$i * 10} {
    margin-left: #{$i} * 10;
  }

  // eg: .mrl-10 or .mlr-10 (pt: MarginRightLeft or MarginLeftRight, #: Pixels)
  .mrl-#{$i * 10},
  .mlr-#{$i * 10} {
    margin-right: #{$i} * 10;
    margin-left: #{$i} * 10;
  }

  // eg: .mtb-10 or .mbt-10 (pt: MarginTopBottom or MarginBottomTop, #: Pixels)
  .mtb-#{$i * 10},
  .mbt-#{$i * 10} {
    margin-top: #{$i} * 10;
    margin-bottom: #{$i} * 10;
  }
}
