@for $i from 1 through 20 {
  // eg: .p-10 (p: Padding, #: Pixels)
  .p-#{$i * 10} {
    padding: #{$i} * 10;
  }

  // eg: .pt-10 (pt: PaddingTop, #: Pixels)
  .pt-#{$i * 10} {
    padding-top: #{$i} * 10;
  }

  // eg: .pl-10 (pt: PaddingLeft, #: Pixels)
  .pl-#{$i * 10} {
    padding-left: #{$i} * 10;
  }

  // eg: .pr-10 (pt: PaddingRight, #: Pixels)
  .pr-#{$i * 10} {
    padding-left: #{$i} * 10;
  }

  // eg: .prl-10 or .plr-10 (pt: PaddingRightLeft or PaddingLeftRight, #: Pixels)
  .prl-#{$i * 10},
  .plr-#{$i * 10} {
    padding-right: #{$i} * 10;
    padding-left: #{$i} * 10;
  }

  // eg: .ptb-10 or .pbt-10 (pt: PaddingTopBottom or PaddingBottomTop, #: Pixels)
  .ptb-#{$i * 10},
  .pbt-#{$i * 10} {
    padding-top: #{$i} * 10;
    padding-bottom: #{$i} * 10;
  }
}
