<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Holy Grail
    {{title}}</title>
  <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png"/>

  <!--Core CSS -->
  <link rel="stylesheet" type="text/css" href="{{root}}assets/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>


<div class="container">

  {{>body }}

</div>

<script src="{{ root }}assets/js/app.js"></script>

</body>
</html>
