<aside class="hs-menu" id="hs-menu">
  <div class="hs-headline">
    <h1><small>The</small> Origin <small>of</small> Species</h1>
    <small>6<sup>th</sup> Edition</small>
    <span class="hs-author">by Charles Darwin</span>
  </div>
  <nav>
    <a href="#introduction"><span>Introduction</span></a>
    <a href="#chapter1"><span>Genesis I.</span><span>In the Beginning</span></a>
    <a href="#chapter2"><span>Genesis II.</span><span>Variation Under Nature </span></a>
    <a href="#chapter3"><span>Chapter III.</span><span>Struggle for Existence</span></a>
    <a href="#chapter4"><span>Chapter IV.</span><span>Natural Selection</span></a>
    <a href="#chapter5"><span>Chapter V.</span><span>Laws of Variation</span></a>
    <a href="#chapter6"><span>Chapter VI.</span><span>Difficulties Of The Theory</span></a>
    <a href="#chapter7"><span>Chapter VII.</span><span>Miscellaneous Objections To The Theory Of Natural Selection</span></a>
    <a href="#chapter8"><span>Chapter VIII.</span><span>Instinct</span></a>
    <a href="#chapter9"><span>Chapter IX.</span><span>Hybridism</span></a>
    <a href="#chapter10"><span>Chapter X.</span><span>On The Imperfection Of The Geological Record</span></a>
    <a href="#chapter11"><span>Chapter XI.</span><span>On The Geological Succession Of Organic Beings</span></a>
    <a href="#chapter12"><span>Chapter XII.</span><span>Geographical Distribution</span></a>
    <a href="#chapter13"><span>Chapter XIII.</span><span>Geographical Distribution - Continued</span></a>
    <a href="#chapter14"><span>Chapter XIV.</span><span>Mutual Affinities Of Organic Beings</span></a>
    <a href="#chapter15"><span>Chapter XV.</span><span>Recapitulation And Conclusion</span></a>
  </nav>
</aside>
