<footer>
  <div class="is-col-3">
    <div class="start"></div>
    <div class="middle">
      <ul>
        <li><a href="tos">Terms of Service</a></li>
        <li><a href="privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="end">&copy 2019 Jesse Boyer</div>
  </div>
</footer>
