<header>
  <div class="is-col-3">
    <div class="start">header:Start</div>
    <div class="middle">header:mid</div>
    <div class="end">header:end</div>
  </div>
  <nav class="navbar is-col-3">
    <div class="start">Start</div>
    <div class="middle">mid</div>
    <div class="end">end</div>
  </nav>
</header>
