@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Playfair+Display');

// ff: Font Family
$ff-titles: 'Comfortaa', cursive !default;
$ff-text: 'Playfair Display', serif !default;

// txt: Text
$txt-lightest: hsl(0, 0%, 95%) !default;
$txt-darkest: hsl(0, 0%, 20%) !default;

// bg: Background
$bg-site: hsl(84, 50%, 92%);
$bg-main: hsl(84, 50%, 92%);
$bg-header: hsl(210, 91%, 22%) !default;
$bg-aside: #936 !default;
$bg-footer: #690! default;
$bg-nav: hsl(200, 21%, 42%) !default;

// Links
$link: hsl(147, 64%, 61%) !default;
$link-hover: hsl(143, 61%, 73%) !default;

$xsmall-font: 0.6rem !default;
$small-font: 0.8rem !default;
$medium-font: 1rem !default;
$large-font: 2rem !default;
