$control-radius: $radius !default;
$control-radius-small: $radius-small !default;

$control-border-width: 1px !default;

$control-height: 2.25em !default;
$control-line-height: 1.5 !default;

$control-padding-vertical: calc(0.375em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.625em - #{$control-border-width}) !default;

@mixin control {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  border: $control-border-width solid transparent;
  border-radius: $control-radius;
  box-shadow: none;
  padding-top: $control-padding-vertical;
  padding-right: $control-padding-horizontal;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  height: $control-height;
  vertical-align: top;
  line-height: $control-line-height;
  font-size: $size-normal;

  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
}

%control {
  @include control;
}

// The controls sizes use mixins so they can be used at different breakpoints
@mixin control-small {
  border-radius: $control-radius-small;
  font-size: $size-small;
}

@mixin control-medium {
  font-size: $size-medium;
}

@mixin control-large {
  font-size: $size-large;
}
