---
layout: default
title: Holy Grail
---

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>


<div class="row">
  <div class="col is-2">is-2</div>
  <div class="col is-2">is-2</div>
  <div class="col is-2">is-2</div>
  <div class="col is-6">
  is-6<br>
  is-6<br>
  is-6<br>
  </div>
</div>

<div class="row">
  <div class="col is-4">is-4</div>
  <div class="col">default</div>
  <div class="col">default</div>
</div>

<div class="row">
  <div class="col">default</div>
  <div class="col">default</div>
  <div class="col">default</div>
  <div class="col">default</div>
</div>
