@import 'vendor/normalize';

body {height: 100vh;}
.layout-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    repeat(5, 1fr);
  grid-template-areas:
    repeat(12, "header")
    repeat(12, "content")
    repeat(12, "footer")
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
/**
* Nested within a Parent Grid
*
* ----------------------------
* | left  |  middle  | right |
* ----------------------------
*/
@mixin common_structure($internal_name) {
  display: grid;
  grid-area: $internal_name;
  grid-template-rows: 1fr;
  grid-template-areas:
    repeat(4, "left") repeat(4, "middle") repeat(4, "right"),
    repeat(4, "left") repeat(4, "middle") repeat(4, "right"),
    repeat(4, "left") repeat(4, "middle") repeat(4, "right");
  grid-template-columns:
    repeat(4, 1fr) repeat(4, 1fr) repeat(4, 1fr),
    repeat(4, 1fr) repeat(4, 1fr) repeat(4, 1fr),
    repeat(4, 1fr) repeat(4, 1fr) repeat(4, 1fr);
  &.left { grid-area: left; }
  &.middle { grid-area: middle; }
  &.right { grid-area: right; }
}


// .header {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
//   grid-template-areas: "left left left left middle middle middle middle right right right right" "left left left left middle middle middle middle right right right right";
//   grid-area: header;

//   &.left { grid-area: left; }
//   &.middle { grid-area: middle; }
//   &.right { grid-area: right; }
// }

.header-grid {
  @include common_structure(header);
  &.left,
  &.middle,
  &.right { background: #444;}
}

.content-grid {
  @include common_structure(content);
  min-height: 60vh;
  &.left,
  &.middle,
  &.right { background: #777;}
}

.footer-grid {
  @include common_structure(footer);
  &.left,
  &.middle,
  &.right { background: #999;}
}
