$max-width: 1200px;

$content-font-family: arial;
$heading-font-family: trebuchet;
$h1-size: 2rem;
$h2-size: 1.8rem;
$h3-size: 1.6rem;
$h4-size: 1.4rem;
$h5-size: 1.2rem;
$h6-size: 1rem;

$content-text: #222;

$content-bg: #fbfbfb;
$content-link: blue;
$content-link-hover: blue;
$content-link-active: blue;
$content-link-viewed: blue;

$navlink-bg: #fbfbfb;
$navlink: gold;
$navlink-hover: gold;
$navlink-active: gold;
$navlink-viewed: gold;

$footer-bg: #fbfbfb;
$footerlink: silver;
$footerlink-hover: silver;
$footerlink-active: silver;
$footerlink-viewed: silver;
