/**
 * Main: App
 */

@import 'variables';
@import 'typography';
@import 'elements';
@import 'utils';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem);
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
  &.reverse {
    flex-direction: row-reverse;
  }
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  &.reverse {
    flex-direction: column-reverse;
  }

  @for $i from 1 through 12 {
    &.offset-#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: var(--half-gutter-width, 0.5rem);
      padding-left: var(--half-gutter-width, 0.5rem);
    }

    &.is-#{$i} {
      flex-basis: percentage($i / 12);
      max-width: percentage($i / 12);
    }
  }

  .start {
    justify-content: flex-start;
    text-align: start;
  }

  .center {
    justify-content: center;
    text-align: center;
  }

  .end {
    justify-content: flex-end;
    text-align: end;
  }

  .top {
    align-items: flex-start;
  }

  .middle {
    align-items: center;
  }

  .bottom {
    align-items: flex-end;
  }

  .around {
    justify-content: space-around;
  }

  .between {
    justify-content: space-between;
  }

  .first {
    order: -1;
  }

  .last {
    order: 1;
  }
}
