@import '../variables/sizes';

$is-xsmall: 'only screen and (min-width: #{$xsmall})';
$is-small: 'only screen and (min-width: #{$small})';
$is-medium: 'only screen and (min-width: #{$medium})';
$is-large: 'only screen and (min-width: #{$large})';

// Usage: See media-sizer below
// @mixin #{$is-xsmall} {
//   @content;
// }

// @mixin #{$is-small} {
//   @content;
// }

// @mixin #{$is-medium} {
//   @content;
// }

// @mixin #{$is-large} {
//   @content;
// }

// // Sizer
// // Usage: @include mixin-sizer('.class', font-size, 10px, 12px, 20px, 40px);
// //        @include mixin-sizer('h1', font-size, 10px, 12px, 20px, 40px);
// @mixin mixin-sizer($element, $prop, $xs, $sm, $md, $lg) {
//   @include is-xsmall {
//     #{$element} {
//       $prop: $xs;
//     }
//   }

//   @include is-small {
//     #{$element} {
//       $prop: $sm;
//     }
//   }

//   @include is-medium {
//     #{$element} {
//       $prop: $md;
//     }
//   }

//   @include is-lg {
//     #{$element} {
//       $prop: $lg;
//     }
//   }
// }
