// @name JREAM:Fruity
// @desc SCSS Theme free for all to use, borrow snippets here and there.
// @license MIT
p {
  line-height: 120%;
  font-family: $ff-text;
  font-size: 1.2em;
}

small {
  color: #c0c0c0;
  font-size: 0.5em;
}
