@for $i from 1 through 6 {
  h#{$i} {
    width: 60px + $i;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-titles;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  margin-bottom: 0.8rem;
  font-size: 2.25rem;
}

h3 {
  margin-bottom: 0.7rem;
  font-size: 2rem;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h5 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

h6 {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
